<div class="sidebar" data-color="purple">
	
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">
      Air Host
    </a>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="">
          <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">person</i>
          <p>Users</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">content_paste</i>
          <p>Questions</p>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">library_books</i>
          <p>Tenants</p>
        </a>
      </li>
    </ul>
  </div>
</div>